@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #2E3D98;
}


body a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #2E3D98;
	text-decoration: none;
}

.navbar {
	background-color: #2E3D98;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.navbar a {
	color: #FFB24D;
	text-decoration: none;
	margin-right: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.navbar a:hover {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.spacer-1 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 200px;
  top: 0;
}

#hayy-opening-banner {
	background-color: #C6CCED;
}


.card-1 {
	background-color: #FFB72E;
	box-shadow: 7px 7px;
}

.btn-sm {
	background-color: #2E3D98;
	color: white;
}

.spacer-2 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 130px;
}

.spacer-3 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 200px;
}

.beers img:hover {
	opacity: 0.8;
}

.card-2 {
	background-color: #2E3D98;
	color: #FFB72E;
}

.card-2 a {
	color: #FFB72E;
	padding: 0px 8px 0px 8px;
}

.spacer-5 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 75px;
}

.spacer-6 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}	

.spacer-7 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}

#locations {
	background-color: #2E3D98;
	color: #FFB24D;
}

#contact a {
	color:#FFB24D;
}
#contact {
	color:#FFB24D;
	background-color:#2E3D98;
}

.spacer-beer {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 135px;
  top: 0;
}

.card-2 a:hover {
	color: white;
}

.card-img-overlay {
	position: absolute;
	top: 40%;
}