@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #2E3D98;
}


body a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #2E3D98;
	text-decoration: none;
}

.navbar {
	background-color: #2E3D98;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.navbar a {
	color: #FFB24D;
	text-decoration: none;
	margin-right: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.navbar a:hover {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


.spacer-6 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}	

.card-1 {
	background-color: #FFB72E;
	box-shadow: 7px 7px;
}

.btn-sm {
	background-color: #2E3D98;
	color: white;
}

.spacer-2 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 200px;
}

.spacer-3 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 200px;
}

.card-2 {
	background-color: #2E3D98;
	color: #FFB72E;
}

.card-2 a {
	color: #FFB72E;
}

.spacer-7 {
	 background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 150px;
}